html {
    scrollbar-gutter: stable;
}

#viz {
    height: 100px;
}

#tap-area {
    --tap-bg-color: #f7f7f7;
    margin: 1rem 0;
    padding: 1.25rem;
    text-align: center;
    border: 2px dashed #888;
    border-radius: 12px;
    cursor: pointer;
    touch-action: manipulation;
    background: var(--tap-bg-color);
}

/* Override Water.css's default :active styling to prevent color change on tap
    (because the color change doesn't stay when holding the tap and that's suboptimal UX) */
#tap-area:active {
    background: var(--tap-bg-color);
}

.no-select {
    user-select: none;
}
