html {
    scrollbar-gutter: stable;
}

#visualization-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

#viz {
    top: 0;
    height: 100px;
    position: absolute;
    width: 100%;
}

.note-rect {
    stroke: white;

    @media (prefers-color-scheme: dark) {
        /* water.css variable for dark mode background */
        stroke: var(--background-body);
    }
}

#stop-button {
    display: none; /* not shown until recording has started */
    margin: 0 0 2px;
    padding: 3px 11px 5px;
    opacity: 0.7;
    z-index: 1;
}

#stop-button:hover {
    opacity: 1;
}

#tap-area {
    margin: 1rem 0;
    padding: 1.25rem;
    text-align: center;
    border: 2px dashed #888;
    border-radius: 12px;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent; /* Remove grey highlight on mobile */
}

.no-select {
    -webkit-user-select: none; /* needed for iOS Safari? */
    user-select: none;
}

#secondary-container {
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

#secondary-container > div {
    /* i.e., column */
    flex: 1;
}
